<!DOCTYPE html>
<html lang="en">
<head>
	<title>Online Whiteboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <!-- <script src="https://kit.fontawesome.com/fb76f746e5.js" crossorigin="anonymous"></script> -->
</head>
<body>
    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-inverse">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <div class="navbar-header mr-auto">
                <a class="navbar-brand" href="#">Online Whiteboard</a>
            </div>
            <!-- Whiteboard toolbar -->
            <ul class="nav navbar-nav">
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li  style="color:white;"><button style="background-color:#222;" class="btn navbar-btn"><i class="fa fa-paint-brush fa-2x"></i></button></li>
                <li style="color:white;"><button style="background-color:#222;" class="btn navbar-btn"><i class="fa fa-eraser fa-2x"></i></button></li>
                
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                
                <li class="nav-item dropdown">
                        <a style="color:white;" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><b>Brush Size&nbsp;</b><i class="fa fa-caret-down"></i></a>
                        <div class="dropdown-menu" style="background-color:#222;">
                            <ul style="list-style-type: none;">
                                <li style="color:white;"><button style="background-color:#222;" class="btn navbar-btn"><i class="fa fa-circle"></i></button></li>
                                <li style="color:white;"><button style="background-color:#222;" class="btn navbar-btn"><i class="fa fa-circle fa-2x"></i></button></li>
                                <li style="color:white;"><button style="background-color:#222;" class="btn navbar-btn"><i class="fa fa-circle fa-3x"></i></button></li>
                            </ul>
                        </div>
                </li>
                
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>

            <div class="btn-group" style="float:right;">
                <button type="button" class="btn btn-success navbar-btn" id="shareBtn2" data-toggle="modal" data-target="#modalShare">Share</button>
                <button type="button" class="btn btn-primary navbar-btn" id="joinBtn" data-toggle="modal" data-target="#modalJoin">Join</button>
            </div>

            <!-- <button type="button" class="btn btn-success navbar-btn">Share</button> -->
            
        </div>
    </nav>
    <!-- end navbar -->

    <!-- Join Modal -->
    <div id="modalJoin" class="modal modal1 fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Join Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>

        </div>
    </div>
    <!-- end join modal -->

    <!-- Share Modal -->
    <div id="modalShare" class="modal modal2 fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Share Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>

        </div>
    </div>
    <!-- end share modal -->

    <div class="container">
        <!-- page content here -->
    </div>

</body>
</html>
